{{ block "index" . }}
<html>

<head>
  <title>{{ .Title }}</title>
  <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
</head>

<body>
  {{ template "main" . }}
</body>

</html>

{{ end }}

{{ block "main" . }}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-24 rounded-full w-auto" src="/static/brian-avatar.png" alt="Brian's M3U8 Downloader">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">M3U8 Downloader</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" action="/download" method="POST">
      <div>
        <div class="flex items-center justify-between">
          <label for="url" class="block text-sm font-medium leading-6 text-gray-900">M3U8 URL</label>
          <div class="text-sm">
            <a href="/check-status"
              class="font-semibold text-lime-600 hover:text-lime-900 focus-visible:outline-lime-600">Check on download
              status</a>
          </div>
        </div>
        <div class="mt-2">
          <input id="url" name="url" type="url" autocomplete="off" required pattern="https?://.*"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-lime-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <button type="submit"
          class="flex w-full justify-center rounded-md bg-lime-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-lime-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-lime-600">Download</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Already downloaded?
      <a href="#" class="font-semibold leading-6 text-lime-700 hover:text-lime-900 focus-visible:outline-lime-600">Check
        saved downloads</a>
    </p>
  </div>
</div>
{{ end }}
